.topnav {
  background-color: #c8e6c9;
  padding: 14.5px;
  margin-top: -10px;
  padding-right: 0;
  margin-left: -10px;
  margin-right: -10px;
  text-align: center;
}

.sidenav---icon-bar---u1f02 {
  background-color: black !important;
}

.sidenav---navtext---1AE_f,
.sidenav---navicon---3gCRo {
  color: black !important;
}
